<form class=" panel rounded shadow p-4 pb-5 "  #postForm2=ngForm  >
    <div class="form-group mt-2">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="mail" #mail  ngModel email="true" required aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Thank you for indicating your e-mail address.</small>
    </div>
    <div class="form-group input-lg no-border">
    <div class="card bg-dark text-white">
        <div class="card-body">
          {{message}}
        </div>
    </div>
        <div class="form-group">
            <button type="submit" [disabled]=!postForm2.valid class="btn btn-success pull-right mt-2" (click)="onPost(mail.value)" routerLink="/">Send</button>
            <button routerLink="/" class="btn btn-dark pull-right mt-2 mx-2">Back</button>
        </div>
    </div>
   
</form>
