
    <div class="container bootstrap snippets">
         <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
              <div class="panel rounded shadow">
                <div class="panel-body">
                    <div class="inner-all">
                        <ul class="list-unstyled">
                            <li class="text-center">
                                <img data-no-retina="" class="img-circle img-responsive img-bordered-primary"
                                    src="../assets/profil2.png" alt="Anthony Bizien" style="max-width:250px;">
                            </li>
                            <li class="text-center">
                                <h4 class="text-capitalize">Anthony Bizien</h4>
                                <p class="text-muted text-capitalize">web developer</p>
                            </li>
                            <li>
                                <p class="text-center text-muted text-capitalize">Full-Stack</p>
                            </li>
                            <li><br></li>
                            <li>
                                <div class="btn-group-vertical btn-block">
                                    <a  class="btn btn-info"  routerLink="/front">Front-end Skills</a>
                                    <a  class="btn btn-dark" routerLink="/back">Back-end Skills</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.panel -->
            <div class="panel panel-theme rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Contact</h3>
                    </div>
                    <div class="pull-right pr-2">
                        <a href="#" class="btn btn-sm btn-success  mx-1"><i class="fa fa-facebook  "></i></a>
                        <a href="#" class="btn btn-sm btn-success  mx-1"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body no-padding rounded">
                    <ul class="list-group no-margin">
                        <li class="list-group-item"><i class="fa fa-envelope mr-4"></i>anthonybs.pro@gmail.com</li>
                        <li class="list-group-item"><i class="fa fa-phone mr-4"></i> +33 667627987</li>
                    </ul>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
            
                <div class="profile-cover">
                    <div class="cover rounded shadow no-overflow">
                        <div class="inner-cover">
                            <img src="../assets/mur2.jpg"
                                class="img-responsive full-width" alt="cover" style="max-height:350px;">
                        </div>
                        <ul class="list-unstyled no-padding  cover-menu">
                            <li ><a  routerLink="/timeline"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                            <li><a routerLink="/about"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                            <li><a  routerLink="/project"><i class="fa fa-fw fa-photo"></i> <span>Projects</span> <small>(3)</small></a></li>
                            <li><a  routerLink="/xp"><i class="fa fa-fw fa-html5"></i><span> this.website</span></a></li>
            
                        </ul>
                    </div><!-- /.cover -->
                </div><!-- /.profile-cover -->
            <router-outlet></router-outlet>
            </div>
        </div>
     </div>
               
                
                
                
                
                
                
